<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title">
					<span class="login100-form-title-1">
						Sign In
					</span>
      </div>

      <form class="login100-form validate-form">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <input class="input100" [(ngModel)]="username" type="text" name="username" placeholder="Enter email">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" [(ngModel)]="password" type="password" name="pass" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="checkLogin()">
            Login
          </button>
        </div>
        <div style="padding-top: 15px">
        <p >Don't Have an account?</p>
        <a class="text-secondary"href="/register">Register here</a>
        </div>
      </form>
    </div>
  </div>
</div>
