<app-navbar (childEvent)="this.blog=$event"></app-navbar>
<div class="container">
  <div class="row" style="margin-left: 20px;margin-top: 100px;">
    <div class="col-md-4">
      <div class=" card pt-2 pl-3 pr-4tab-content profile-tab" id="myTabContent">
        <div class=" tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row ">
            <div class="col-md-6">
              <label>UserName</label>
            </div>
            <div class="col-md-6">
              <p>{{user.userName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-5">
              <p>{{temp}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Email</label>
            </div>
            <div class="col-6">
              <p>{{temp1}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Phone</label>
            </div>
            <div class="col-6">
              <p>{{temp3}}</p>
            </div>
          </div>
          <button class="btn btn-warning mb-3" style="margin-left: 70px" routerLink="myaccount">Edit profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 mb-3 card" style="margin-left: 150px;" *ngFor="let b of blog">
            <div class="bg-white m-2 p-3 mb-4" style="background-color: #00c6ff">
              <div class="d-flex">
                <div>
                  <div style="font-size: 20px;">{{b.title}}</div>
                  <div class="font-weight text-black-50">{{blog.title}}</div>
                </div>
                <div class="ml-auto">
                  <div>
                    <small class="text-dark">{{b.date | date:'shortDate'}}</small>
                  </div>
                </div>
              </div>
              <hr style="color: #00c6ff">
              <p class="pb-3">{{b.content}}</p>
              <button class="btn btn-warning" routerLink="/editblog" (click)="editBlog(b)">Edit Blog</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
